<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let user of usuarios">
    <div class="card h-100">
      <img
        [src]="user.avatar"
        class="card-img-top"
        [alt]="'foto de ' + user.first_name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          ({{ user.first_name }} {{ user.last_name }})
        </h6>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <span class="text-muted"> ID: {{ user.id }}</span>
        </p>
        <p class="card-text">
          <span class="text-muted"> Email: {{ user.email }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
